{% extends "common/_content.html" %}
{% block title %}个人中心{% endblock title %}
{% block css %}
    <link rel="stylesheet" href="/site_media/css/user_index.css">
{% endblock %}
{% block body %}
    <div class="posts">
        <div class="cell cell-hover">
            <div class="fr"><span>如果你不打算更改密码，请留空以下区域
            </span>
            </div>更改密码

            <form action="/member/user_index/">

                <div class="cell cell-hover">
                    <span class="mi-span">原密码</span>
                    <input type="password" class="msl" name="password_current" id="password_current">
                </div>
                <div class="cell cell-hover">
                    <span class="mi-span">新密码</span>
                    <input type="password" class="msl" name="password_new" id="password_new">
                </div>
                <div class="cell cell-hover">
                    <span class="mi-span">再次输入新密码</span>
                    <input type="password" class="msl" name="password_new2" id="password_new2">
                </div>
                <div>
                    <span class="mi-span"></span>
                    <button type="button" class="button_small change_pw">更改密码</button>
                </div>
            </form>
        </div>

        <div class="cell cell-hover">
            <div class="fr"><span>如果你不打算更改头像，请留空以下区域
            </span>
            </div>

            <form id="header-img" action="{{UPLOAD_IMG_API}}" method='post'>
                <table>
                    <tr>
                        <td rowspan="2"><span class="mi-span">更换头像</span></td>
                    </tr>
                    <tr>
                        <td>
                            <span></span>
                            <a href="javascript:;" class="header_icon">
                                {% if user.header_img %}
                                    <img id="header_icon" src="{{user.header_img}}" alt="" height="80px">
                                {% else %}
                                    <button type="button">上传头像</button>
                                {% endif %}
                            </a>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
<!--         <div class="cell cell-hover">
            <div class="cell-avatar">
                <span href="/member/Vkin">
                </span>
            </div>
            <div class="cell-text">
                <span class="posts-title">
                    <a href="/t/{{t.id}}/">
                        {{t.title}}
                    </a>
                </span>
                <div class="height5"></div>
                <span class="bottom">
                    <i class="fa fa-tags gray"></i>
                    <a class="node" href="#">{{t.catalog.name}}</a> &nbsp;•&nbsp;
                    <a href="#">{{t.user.first_name}}</a>
                    &nbsp;•&nbsp;
                    <span href="#">最后回复来自 <strong>AAA</strong></span>
                </span>
            </div>
        </div> -->
        </form>
    </div>

{% endblock body %}

{% block js%}
    <script src="/site_media/js/user_index.js" type="text/javascript"></script>
{% endblock%}
