{% extends "common/_content.html" %}
{% load duoshuo_tags %}
{% block css %}
<link rel="stylesheet" href="/site_media/css/article.css">
<link rel="stylesheet" href="/site_media/css/new.css">
<link rel="stylesheet" href="/site_media/css/common/uploadify.css"></script>
<link href="//cdn.bootcss.com/jquery-datetimepicker/2.1.8/jquery.datetimepicker.min.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block title %}创作新主题{% endblock title %}
{% block body %}
{% include "common/tinymce.html" %}
    <form id="form" action="/new/" method="POST" accept-charset="utf-8">
    <div class="art">
        <article>
            <header class="art-header">
                <div class="art-detail">
                    <!--
                    <span class="tab-block">
                        <i class="fa fa-calendar-check-o fa-lg"></i>
                        <a href="#">2015-09-22 08:56</a>
                    </span>
                    <span class="tab-block">
                        <i class="fa fa-eye fa-lg"></i>
                        <a href="#">21K</a>
                    </span>
                    <span class="tab-block">
                        <i class="fa fa-comments-o fa-lg"></i>
                        <a href="#">210</a>
                    </span>
                    <span class="tab-block">
                        <i class="fa fa-star-o fa-lg"></i>
                        <a href="#">21</a>
                    </span>

                    <span class="tab-block">
                        <i class="fa fa-tag"></i>
                        <a href="#">风景</a>
                    </span>
                    -->
                    <span class="tab-block" style="font-size: 16px;font-weight: 600;">
                        标题：
                    </span>
                </div>
                <div class="art-title">
                    <h1>
                    <input class="msl-title" rows="1" maxlength="120" id="title" name="title" autofocus="autofocus" placeholder="请输入主题标题，如果标题能够表达完整内容，则正文可以为空"></input>
                    </h1>&nbsp;&nbsp;
                    <input type="radio" name="p_type" value="2"checked="checked">投票
                    <input type="radio" name="p_type" value="1">评论&nbsp;&nbsp;
                </div>
            </header>



            <div class="option-list">
                <div style="float: right; margin-right: 5px">
                    <button class="button_small" type="button" onclick="add_option()"><i class="fa fa-plus-square"></i>&nbsp;&nbsp;添加选项</button>
                </div>
                <span style="font-size: 16px;font-weight: 600;">选项：<br></span>
                <div class="o-option">
                    <div class="btnAndInput">
                        <textarea class="msl option" rows="5" id="option" name="option_d1" placeholder="请输入要投票的选项"></textarea>
                        <button type="button" class="button_small" data-id="option">添加图片</button>
                        <input type="text" id="option_img" name="option_img" value="" hidden>
                    </div>
                    <div class="btnAndInput">
                        <textarea class="msl option" rows="5" id="option1" name="option_d2" placeholder="请输入要投票的选项"></textarea>
                        <button type="button" class="button_small" data-id="option1">添加图片</button>
                        <input type="text" id="option1_img" name="option1_img" value="" hidden>
                    </div>
                    <div class="btnAndInput">
                        <textarea class="msl option" rows="5" id="option2" name="option_d3" placeholder="请输入要投票的选项"></textarea>
                        <button type="button" class="button_small" data-id="option2">添加图片</button>
                        <input type="text" id="option2_img" name="option2_img" value="" hidden>
                    </div>
                </div>
            </div>
            <div class="tab-select">
                <select name="tag" id="select" class="from-control">
                    <option value="0" disabled selected>请选择一个分类</option>
                    {% for c in catalog_list %}
                        <option value="{{c.id}}">{{c.name}}</option>
                    {% endfor %}
                </select>
            </div>
        
            <span class="datetime-span">请选择投票结束日期：</span><input type="text" class="datetime" name="end_date" id="end_date" value="" placeholder="请选择投票结束日期">

            <div class="submit-bottom">
                <div class="btn-left">
                    <button type="button" onclick="submit_content()"><i class="fa fa-remove "></i>  清空内容</button>
                </div>
                <div class="btn-right">
                    <button type="button" onclick="submit_content()"><i class="fa fa-paper-plane"></i>  发布主题</button>
                </div>
            </div>
            <footer>
                <!--广告位-->
            </footer>
        </article>
    </div>
    </form>

<div class="hidden" id="imghidden" imgurlstr="">
</div>
{% endblock body %}

{% block js %}
<script src="/site_media/js/new.js" type="text/javascript" charset="utf-8"></script>
<script src="/site_media/js/layer.js"></script>
<script src="/site_media/js/uploadify/jquery.uploadify.min.js"></script>
<script type='text/javascript' src='//cdn.bootcss.com/jquery-datetimepicker/2.1.9/jquery.datetimepicker.min.js'></script>
<script>
    var json_dic;
    var pic_list = new Array();
    $(function(){
        $("input:radio[name=p_type]").click(function() {
            var value = $(this).val();
            if (value === "2") {
                $(".mce-panel").hide();
                $(".option-list").show();
                $(".datetime-span").show();
                $("#end_date").show();
            }else{
                $(".mce-panel").show();
                $(".option-list").hide();
                $(".datetime-span").hide();
                $("#end_date").hide();
                if($(".art-content").length <=0 ){
                var text_html = '<textarea class="art-content" name="content" id="content"></textarea>'
                $(".art-header").after(text_html);
                }
                tinymce.init({
                    selector: "textarea#content",
                    //width: 800,
                    height: 300,
                    forced_root_block: false,
                    language : "zh_CN",
                    setup: function (editor) {
                        editor.on('change', function () {
                            tinymce.triggerSave();
                        });
                    },
                    plugins: [
                        "advlist autolink lists link image charmap print preview anchor",
                        "searchreplace visualblocks code fullscreen",
                        "insertdatetime table contextmenu paste"
                    ],
                    toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter" +
                    " alignright alignjustify | bullist numlist outdent indent | preview link image"
                });
            }
        });
        layer.config({
            extend: 'extend/layer.ext.js'
        });
        $("#end_date").datetimepicker({
            lang: 'ch',
            format: 'Y-m-d',
            changeMonth: true,
            changeYear: true,
            timepicker:false
        })
    });

</script>
{% endblock js %}
