{% extends "common/_body.html" %}
{% block main %}
    <div class="item main">
       <table cellpadding="0" cellspacing="0" border="0" width="100%">
        <tr>
            
            <td width="48" valign="top" align="center">
                <a href="/member/2owe">
                    <img src="//cdn.v2ex.co/avatar/0b74/bb1b/80505_large.png?m=1433918530" class="avatar" border="0" align="default" style="max-width: 48px; max-height: 48px;" />
                </a>
            </td>

            <td width="10px"></td>
            
            <td width="auto" valign="middle">
                <span class="item_title">
                    <a href="/t/216117#reply29">为啥个人用 Linux 很少见用 CentOS 的？</a>
                </span>
                <div class="height5"></div>

                <span class="small">
                    <div class="votes"></div>
                    <a class="node" href="/go/qna">问与答</a> 
                    &nbsp;•&nbsp; 
                    <strong><a href="/member/2owe">2owe</a></strong> 
                    &nbsp;•&nbsp; 几秒前 &nbsp;•&nbsp; 
                    最后回复来自 
                    <strong><a href="/member/loading">loading</a></strong>
                </span>
            </td>
            <td width="70" align="right" valign="middle">
                <a href="/t/216117#reply29" class="count_livid">29</a>
            </td>
        </tr>
    </table>
    </div>
{% endblock %}