{% extends "common/_content.html" %}
{% block body %}
<!--
    <div class="title">
        <ul>
            <li><a href="" class="tab">全部</a></li>
            <li><a href="" class="tab">技术</a></li>
            <li><a href="" class="tab current">好玩</a></li>
            <li><a href="" class="tab">问与答</a></li>
        </ul>
    </div>
-->
    <div class="posts">
        {% for t in posts_list %}       
            <div class="cell cell-hover">
                <div class="cell-avatar">
                    <a href="/member/Vkin">
                        <img src="http://7xjwh5.com1.z0.glb.clouddn.com/avatar/1353745196354-64.jpg?1441697091662" class="avatar" width="48px" height="48px" title="{{t.user.first_name}}">
                    </a>
                </div>
                <div class="cell-text">
                    <span class="posts-title">
                        <a href="/t/{{t.id}}/">
                            {{t.title}}
                        </a>
                    </span>
                    <div class="height5"></div>
                    <span class="bottom">
                        <i class="fa fa-tags gray"></i>
                        <a class="node" href="#">{{t.tag}}</a> &nbsp;•&nbsp; 
                        <a href="#">{{t.user.first_name}}</a>
                        &nbsp;•&nbsp;
                        <span href="#">最后回复来自 <strong>AAA</strong></span>
                    </span>
                </div>
                <div class="cell-num">
                    <span>16</span>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock body %}