{% extends "common/base.html" %}
{% block content %}
    <div class="re-main" style="height: 300px">
        <div class=wrapper>
            <div class="form">
                <table cellpadding="0" cellspacing="0">
                    <tr>
                        <td width="70px"><label for="">用户名</label></td>
                        <td width="200px"><input type="text"></td>
                    </tr>
                    <tr>
                        <td><label for="">Email</label></td>
                        <td><input type="text"></td>
                    </tr>
                    <tr>
                        <td><label for="">验证码</label></td>
                        <td>
                            <input type="text" style="width: 130px">
                            <img src="">
                        </td>
                    </tr>
                    <tr>
                        <td><label for=""></label></td>
                        <td></td>
                    </tr>
                </table>
            </div>

            <div class="re-info">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
<script>
</script>
{% endblock %}