{% extends "common/base.html" %}
{% block title %}首页{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="/site_media/css/wai_index.css">
<link rel="stylesheet" href="/site_media/bootstrap/css/bootstrap.min.css">
<style type="text/css">
    input{
        line-height: normal;
    }
</style>
{% endblock css %}

{% block content %}
    <div class="row wai-index" style="margin-right:0px;">
        <div class="col-md-2">
            <div class="user_left_info">
                <span><a href="#">{{user.username}}</a></span>
                <span><img src="{{user.header_img}}" alt=""></span>
            </div>
            <!--<div class="user-save">
                <a href="">
                    <span>33</span>
                    <span>粉丝</span>
                </a>
                <a href="">
                    <span>22</span>
                    <span>关注</span>
                </a>
                <a href="">
                    <span>1</span>
                    <span>xxx</span>
                </a>
            </div>-->
            <div class="catalog-list">
                <ul>
                    {% for c in catalog_list %}
                        <li>
                            <span class="li-num" style="color:{{c.rgb}}">{{forloop.counter}}</span>
                            <a class="li-catalog" href="/?catalog={{c.id}}">
                                <span style="color:{{c.rgb}}">{{c.name}}&nbsp;</span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="col-md-4">
            <table style="text-align:center;" width="100%">
                <caption style="font-size:17px;">近日最热评论</caption>
                <tbody>
                {% if s2 %}
                        <tr style="font-size:17px;">
                            <td colspan="2">
                            <a href="/t/{{s2.post.id}}">{{s2.post.title|slice:":20"}}</a>
                            </td>
                        </tr>
                        {% for o in s2.option %}
                            <tr style="border:1px solid green;">
                                <td width="200" height="200">{% if o.img %}<img src="{{o.img}}" alt="" width="200">{% else %}<img src="http://temp.im/200x200/4CD964/fff">{% endif %}</td>
                                <td>{{o.content|safe}}</td>
                            </tr>
                        {% endfor %}
                {% else %}
                    暂无
                {% endif %}
                </tbody>
            </table>
        </div>

        <div class="col-md-3">
            <div class="top-list">
                <span class="top-title">A、最多关注的榜单</span>
                {% for view in top_view %}
                <ul>
                    <li>
                        <a href="/t/{{view.id}}">
                            <i>> </i>{{view.title|slice:":20"}}
                        </a>
                        <span class="top-time">{{view.add_time|date:"Y-m-d h:m"}}</span>
                    </li>
                </ul>
                {% endfor %}
            </div>
            <div class="top-list">
                <span class="top-title">B、最新发布的榜单</span>
                {% for new in top_new %}
                <ul>
                    <li>
                        <a href="/t/{{new.id}}">
                            <i>> </i>{{new.title|slice:":20"}}
                        </a>
                        <span class="top-time">{{new.add_time|date:"Y-m-d h:m"}}</span>
                    </li>
                </ul>
                {% endfor %}
            </div>
            <div class="top-list">
                <span class="top-title">C、最后投票的榜单</span>
                {% for vote in top_vote %}
                <ul>
                    <li>
                        <a href="/t/{{vote.get_posts.id}}">
                            <i>> </i>{{vote.get_posts.title|slice:":20"}}
                        </a>
                        <span class="top-time">{{vote.get_posts.add_time|date:"Y-m-d h:m"}}</span>
                    </li>
                </ul>
                {% endfor %}
            </div>
        </div>

        <div class="col-md-3">
            <div class="top-list">
                <span class="top-title">A、最多关注的话题</span>
                {% for view in top_view_2 %}
                <ul>
                    <li>
                        <a href="/t/{{view.id}}">
                            <i>> </i>{{view.title|slice:":20"}}
                        </a>
                        <span class="top-time">{{view.add_time|date:"Y-m-d h:m"}}</span>
                    </li>
                </ul>
                {% endfor %}
            </div>
            <div class="top-list">
                <span class="top-title">B、最新发布的话题</span>
                {% for new in top_new_2 %}
                <ul>
                    <li>
                        <a href="/t/{{new.id}}">
                            <i>> </i>{{new.title|slice:":20"}}
                        </a>
                        <span class="top-time">{{new.add_time|date:"Y-m-d h:m"}}</span>
                    </li>
                </ul>
                {% endfor %}
            </div>
<!--             <div class="top-list">
                <span class="top-title">C、上升最快的话题</span>
                {% for post in top_top_2 %}
                <ul>
                    <li>
                        <a href="/t/{{post.post.id}}">
                            <i>> </i>{{post.post.title}}
                        </a>
                        <span class="top-time">{{post.post.add_time|date:"Y-m-d h:m"}}</span>
                    </li>
                </ul>
                {% endfor %}
            </div> -->
        </div>
    </div>
{% endblock content %}

{% block js %}
    <script src="/site_media/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
{% endblock js %}
