<div class="topbar-wrap">
    <div class="topbar">
        <div class="topbar-l">
            <span class="logo"><a href="/" class="home"></a></span>
        </div>
        <div class="topbar-r"> 
            <div class="search">
                <form action="" method="post" accept-charset="utf-8" class="form">
                    <input type="search" name="search" value="" placeholder="Search for..">
            </div>
            <div class="topbar-text">
                <ul class="top-nav">
                    <li><a href="">Anybfans</a></li>
                    <li><a href="">注册</a></li>
                    <li><a href="/login/">登陆</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>