<div class="r-bar col-md-2">
    <div class="panel panel-empty">
        <div class="panel-body">
            <div class="cell"><img src="/site_media/images/avatar/avatar.png" border="0" align="default" style="max-width: 48px; max-height: 48px;"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
        </div>
    </div>
    <div class="panel panel-empty top-10">
        <div class="panel-body">
            <div class="cell"><span style="color: #ccc">今日热议主题</span></div>
            <div class="item">坚果手机价格出来了</div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
        </div>
    </div>
</div>