<div class="box">
    <div class="cell">
        <table class="user">
            <tr>
                <td><img src="//cdn.v2ex.co/gravatar/1c54d8bb7c3e6ed3753ffcafa0ac4865?s=48&d=retro" alt=""></td>
                <td width="10px"></td>
                <td>Anybfans</td>
            </tr>
        </table>
        <div class="user-save">
            <a href="">
                <span>2</span>
                <span>节点收藏</span>
            </a>
            <a href="">
                <span>22</span>
                <span>主题收藏</span>
            </a>
            <a href="">
                <span>1</span>
                <span>特别关注</span>
            </a>
        </div>
    </div>
    <div class="cell">
        
    </div>
    <div class="cell">
    </div>
    <div class="cell">
    </div>
</div>