<div class="box">
    <div class="cell fade bk-fade">
        {% if user.is_authenticated %}个人信息：{% else %}Welcome{% endif %}
    </div>
    {% if user.is_authenticated %}
        <div class="cell">
            <table class="user">
                <tr>
                    <td><a href="/member/{{user.username}}/"><img src="//cdn.v2ex.co/gravatar/1c54d8bb7c3e6ed3753ffcafa0ac4865?s=48&d=retro" alt=""></a></td>
                    <td width="10px"></td>
                    <td>{{ user.username }}</td>
                </tr>
            </table>
            <div class="user-save">
                <a href="">
                    <span>33</span>
                    <span>节点收藏</span>
                </a>
                <a href="">
                    <span>22</span>
                    <span>主题收藏</span>
                </a>
                <a href="">
                    <span>1</span>
                    <span>特别关注</span>
                </a>
            </div>
        </div>
        <div class="cell">
            <span class="pb-article">
                <a href="/new/" title="创作新主题"><i class="fa fa-pencil fa-lg"></i>&nbsp;&nbsp;创作新主题</a>
            </span>
        </div>
        <div class="cell">
        </div>
        <div class="cell">
        </div>
    {% else %}
        <div class="not-login" align="center">
            <a href="/login/?t=2" class="btn" style="color: #fff;">现在注册</a>

            <span class="reg">已注册用户请 &nbsp;<a href="/login/" style="color: #31b0d5;">登陆</a></span>
        </div>
    {% endif %}
</div>

<div class="box top10 ">
    <div class="cell fade bk-fade">
        今日热议主题：
    </div>
    <div class="cell">
        <a href="/member/">
            <img src="//cdn.v2ex.co/avatar/57ea/c32c/135172_normal.png?m=1440525275" alt="">
        </a>
        <a href="/t/">win 上最好用的 ssh 工具</a>
    </div>
    <div class="cell">
        <a href="/member/">
            <img src="//cdn.v2ex.co/avatar/549c/5a76/135283_normal.png?m=1440576928" alt="">
        </a>
        <a href="/t/">阿里云升级云盾, 误删用户数据，我也是醉了醉了醉了醉了</a>
    </div>
</div>

<div class="box">
    <div class="cell fade bk-fade">
        社区运行状况：
    </div>
    <div class="bbs-detail">
        <table>
            <tr>
                <td align="right">注册会员&nbsp;&nbsp;</td>
                <td>136191</td>
            </tr>
            <tr>
                <td align="right">主题&nbsp;&nbsp;</td>
                <td>214725</td>
            </tr>
            <tr>
                <td align="right">回复&nbsp;&nbsp;</td>
                <td>2381010</td>
            </tr>
        </table>
    </div>
</div>
