<div class="box">
    <div class="cell fade bk-fade">
        {% if user.is_authenticated %}个人信息：{% else %}Welcome{% endif %}
    </div>
    {% if user.is_authenticated %}
        <div class="cell">
            <table class="user">
                <tr>
                    <td><a href="/member/{{user.username}}/">
                        <img src="{% if user.header_img %}{{user.header_img}}{% else %}/site_media/img/default.jpg{% endif %}" alt="{{user.username}}"> </a></td>
                    <td width="10px"></td>
                    <td>{{ user.username }}</td>
                </tr>
            </table>
            <!--<div class="user-save">
                <a href="">
                    <span>33</span>
                    <span>节点收藏</span>
                </a>
                <a href="">
                    <span>22</span>
                    <span>主题收藏</span>
                </a>
                <a href="">
                    <span>1</span>
                    <span>特别关注</span>
                </a>
            </div>-->
        </div>
        <div class="cell">
            <span class="pb-article">
                <a href="/new/" title="创作新主题"><i class="fa fa-pencil fa-lg"></i>&nbsp;&nbsp;创作新主题</a>
            </span>
        </div>
        <div class="cell">
        </div>
        <div class="cell">
        </div>
    {% else %}
        <div class="not-login" align="center">
            <a href="/login/?t=2" class="btn" style="color: #fff;">现在注册</a>

            <span class="reg">已注册用户请 &nbsp;<a href="/login/" style="color: #31b0d5;">登陆</a></span>
        </div>
    {% endif %}
</div>

<div class="box top10 ">
    <div class="cell fade bk-fade">
        今日热议主题：
    </div>
    {% if  request.top_list%}
        {% for top in request.top_list %}
            <div class="cell">
                <a href="">
                    <img src="{{top.post.header_img}}" alt="">
                </a>
                <a href="/t/{{top.post.id}}/">{{top.post.title}}</a>
            </div>
        {% endfor %}
    {% else %}
        <div class="cell">
        暂无消息
        </div>
    {% endif %}
</div>

<div class="box">
    <div class="cell fade bk-fade">
        社区运行状况：
    </div>
    <div class="bbs-detail">
        <table>
            <tr>
                <td align="right">注册会员&nbsp;&nbsp;</td>
                <td>{{request.all_user}}</td>
            </tr>
            <tr>
                <td align="right">主题&nbsp;&nbsp;</td>
                <td>{{request.all_posts}}</td>
            </tr>
            <!-- <tr>
                <td align="right">回复&nbsp;&nbsp;</td>
                <td>2381010</td>
            </tr> -->
        </table>
    </div>
</div>

{% block js %}
<script type="text/javascript">
    // $(function(){
    //     $.get('http://api.duoshuo.com/sites/listTopThreads.json', {'short_name': 'anybfans','range':'all'}, function(data) {
    //         alert(data)
    //     },'json');
    // })
</script>
{% endblock js %}
