<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock %}_Anybfans社区</title>
    <meta name="descriptions" content="Anybfans软件分享的交流社区">
    <meta name="keywords" content="Anybfans,绿色软件,zdfans,zd423,gogotester">
    <link rel="shortcut icon" type="image/x-icon" href="/site_media/images/common/favicon.ico" />
    <link rel="stylesheet" href="/site_media/css/base.css">
    <link rel="stylesheet" href="/site_media/css/header.css">
    <script>var version='201507131409',dir='{{settings.JSMIN}}';</script>
    {% block css%}{% endblock %}
    {% block plugin %}{% endblock %}
    <!--[if IE 6]>
    
    <![endif]-->
</head>
<body style="background-color: #e2e2e2;">
    {% include "common/_header.html" %}
    {% include "common/_footer.html" %}
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    {% block js %}{% endblock %}

    {% if not settings.DEBUG %}
    <script>
    //百度统计代码
    </script>
    {%endif%}
</body>
</html>