<link href="/site_media/css/login/bootstrap.min.css" rel="stylesheet">

<link href="/site_media/css/login/plugins/iCheck/custom.css" rel="stylesheet">

<link href="/site_media/css/login/plugins/chosen/chosen.css" rel="stylesheet">

<link href="/site_media/css/login/plugins/colorpicker/bootstrap-colorpicker.min.css" rel="stylesheet">

<link href="/site_media/css/login/plugins/cropper/cropper.min.css" rel="stylesheet">

<link href="/site_media/css/login/plugins/switchery/switchery.css" rel="stylesheet">

<link href="/site_media/css/login/plugins/jasny/jasny-bootstrap.min.css" rel="stylesheet">

<link href="/site_media/css/login/plugins/nouslider/jquery.nouislider.css" rel="stylesheet">

<link href="/site_media/css/login/plugins/datapicker/datepicker3.css" rel="stylesheet">

<link href="/site_media/css/login/plugins/ionRangeSlider/ion.rangeSlider.css" rel="stylesheet">
<link href="/site_media/css/login/plugins/ionRangeSlider/ion.rangeSlider.skinFlat.css" rel="stylesheet">

<link href="/site_media/css/login/animate.css" rel="stylesheet">
<link href="/site_media/css/login/plugins/dropzone/dropzone.css" rel="stylesheet">
<link href="/site_media/css/login/style.css" rel="stylesheet">