.art{
    position: relative;
    min-width: 700px;
}

/*文章标题*/
.art-header{
    height: 80px;
}

/* 头部 日历                                                    */
.art-detail{
    float: right;
    height: 20px;
    color: #999;
    display: block;
}
.art-detail .tab-block{
    display: inline-block;
    margin: 0 5px;
    height: 20px;
}

.art-detail .tab-block a{
    margin-left: 3px;
}


.art-title {
    padding-top: 20px;
}
.art-title img{
    width: 48px;
    height: 48px;
    border-radius: 24px;
    float: left;
}
.art-title h1{
    clear: both;
    display: inline-block;
    padding-left: 10px;
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    padding-top: 10px;
}
.art-tab{
    display: block;
    margin-top: 10px;
}

/*内容*/
.art-content{
    width: 800px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 20px 0;
    word-wrap: break-word;
    hyphens: auto;
    overflow: hidden;
}

.art-content .vote-list{
    display: block;
    border: 1px solid #AAD7FF;
    border-radius: 5px;
    margin: 10px 0;
}
.vote-list table{
    width: 100%;
}
.vote-list table td:nth-child(2){
    width: 60%;
    border-left: 1px solid #AAD7FF;
    border-right: 1px solid #AAD7FF;
}
.img-table{
    width: 200px;
}
.img-table img{
    width: 200px;
    height: 200px;
}
.button_small{
    display: inline-block;
    padding: 3px 6px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    background-color: #00A1F1;
    border-color: #ccc;
    margin-top: 5px;
}
@media only screen and (max-width : 1000px){
    .art-content{
        margin: 20px auto;
    }
}
.msl{
    width: 90%;
    height: 100%;
    border: none;
    resize: none;
    background-color: #f9f9f9;
    outline: none;
    font-size: 14px;
    line-height: 20px;
    padding: 10px;
    font-family: 'Helvetica Neue', 'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;
    margin: 0px;
}   