body{
    padding: 0px;
    margin: 0px;
    font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
}

img.avatar {
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.cell{
    padding: 10px;
    font-size: 12px;
    line-height: 120%;
    text-align: left;
    border-bottom: 1px solid #e2e2e2;
}

.item{
    width: 100%;
    padding: 10px;
    font-size: 14px;
    line-height: 120%;
    text-align: left;
    border-bottom: 1px solid #e2e2e2;
}
.chevron{
    font-weight: 500;
}

.fr {
    float: right;
    text-align: right;
}
.gray{
    color: #999;
}
.step10{
    height: 10px;
}
/*header*/
.navbar{
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.navbar-inverse{
    background-color: #2882b5;
  }

.form-control{
    margin-top: 8px;
    width: 200px;
}

.height5{
    height: 8px;
}

/*content*/
.content{
    padding: 0;
    height: 100%;
    width: 60%;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #e2e2e2;
}
.container.warpper{
    margin: 25px 0 0 0;
    width: auto;
    height: 1050px;
}

.title{
    line-height: 1.5;
    padding: 4px 6px 4px 6px;
    margin: 4px 6px 4px 6px;
    font-size: 14px;
    line-height: 120%;
    text-align: left;
    border-bottom: 1px solid #e2e2e2;
    background-color: #fff; 
    border-top-left-radius: 3px; 
    border-top-right-radius: 3px;
}
.title ul{
    list-style: none;
    vertical-align:middle;
    margin-top: 10px;
    margin-bottom: 10px;
}
.title li{
    display: inline-block;
}

.title li a{
    display: inline-block;
    padding: 5px 8px 5px 8px;
    line-height: 13px;
}
.title li:hover{
    background-color: #ccc;
    border-radius: 3px;
}
.title li a:hover{
    text-decoration:none;
}
.title li a:active{
    border-radius: 3px;
    color: #fff;
    background-color: #555;
    text-decoration:none;
}
/*r-bar*/
.r-bar{
    margin-left: 35px;
}
.panel-empty{
    width: 270px;
    height: 210px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
}


/*footer*/
#footer{
    clear: both;
    float: right;
    padding-top: 50px;
    padding-bottom: 50px;
}