.content{
    height: 80%;
    width: 80%;
    min-height: 1500px;
    min-width: 1000px;
    margin: 20px auto;
    position: relative;
    color: #000;
    overflow: hidden;
    background-color: #fff;
    padding-top: 30px;
}
.content a{
    color: #778087;
}
.content-l{
    float: left;
    width: 780px;
    min-width: 700px;
    height: 100%;
    min-height: 1500px;
}

.content-r{
    float: right;
    height: 100%;
    min-width: 270px;
    min-height: 1500px;
}