.content{
    height: 100%;
    min-height: 1500px;
    min-width: 1000px;
    width: 100%;
    color: #000;
    overflow: hidden;
    background-color: #fff;
    padding-top: 30px;
    margin: 0 auto;
}
.content a{
    color: #778087;
}
.comtent-position{
    width: 90%;
    margin: 0 auto;
}
.content-l{
    display: inline-block;
    width: 73%;
}

.content-r{
    float: right;
}

@media only screen and (max-width : 1000px){
    .content{
        width: 100%;
        margin: 20px auto;
        position: relative;
    }
    .content-l{
        clear: both;
        float: none;
        width: 100%;
    }
    .content-r{
        visibility:hidden;
    }
}


/* 登陆 注册界面 */
.re-main{
    color: #666;
    font-size: 15px;
    background-color: #FFF;
    padding: 50px 0;
}

.re-main .wrapper{
    width: 75%;
    margin: 0 auto;
    display: flex;
    display: -webkit-box;
    min-width: 720px;
    flex-wrap: wrap;
    max-width: 1300px;
}
.re-main .form{
    width: 270px;
    height: 210px;
}
.re-main label{
    margin: 12px 0 6px;
    float: left;
}
.re-main input{
    display: inlin-block;
    width: 200px;
    height: 30px;
    border-radius: 4px;
    border: 1px solid #e2e2e2;
    animation: none;
    margin: 12px 0 6px;
}

.re-main img{
    width: 50px;
    height: 20px;
    margin-left: 15px;
    max-width: 100%;
    display: inline-block;
    vertical-align: middle;
    border: 0;
}
.page {
    overflow: hidden;
    padding: 10px 0;
    text-align: center;
}

.page_list {
    height: 28px;
    line-height: 28px;
}
.page_list a {
    text-decoration: none;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    font-size: 12px;
    height: 24px;
    line-height: 24px;
    padding: 0 8px;
    border: 1px solid #dfdfdf;
    border-radius: 3px;
    margin: 0 3px;
}

.current{
    background-color: #1b89ee;
    color: #fff;

}
