.topbar-wrap{
    width: 100%;
    min-width: 1000px;
}

.topbar{
    position: relative;
    height: 50px;
    line-height: 50px;
    background-color: #34A853;
    border-bottom: 1px solid #e5e5e5;
}

/* left */
.topbar-l{
    position: absolute;
    left: 200px;
    width: 150px;
    height: 50px;
}

.topbar-l .logo{
    width: 110px;
    height: 50px;
}
.topbar-l .logo .home{
    display: block;
    width: 100px;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    background: url("/site_media/images/common/logo.png") 0 0 no-repeat;
    background-size: 100px 40px;
}
.topbar-l .text{
    float: right;
    font-size: 22px;
    color: #fff;
    font-family: QuebecAntique Bold;
}

/* right */
.topbar .topbar-r{
    position: absolute;
    float: right;
    right: 50px;
    width: 400px;
    height: 50px;
}

.topbar-r .search{
    float: left;
    width: 200px;
    height: 50px;
}

.search input{
    margin-top: 10px;
    display: block;
    width: 160px;
    height: 30px;
    border-radius: 4px;
    border: 1px solid #e2e2e2 ;
}

.search input:focus{
    border-radius: 4px;
    border: 1px solid green;
    animation: input-width 1s;
    width: 100%;
}

@keyframes input-width
{
    from {width: 160px;}
    to {width: 100%;}
}


.topbar-r .topbar-text{
    float: left;
}

.topbar-text ul{
    list-style: none;
}

.topbar-text li{
    display: inline-block;
    margin-left: 15px;
    font-size: 16px;
}

.topbar-text a{
    color: #fff;
}