.art{
    border: 1px solid #CCC;
    font-family: 'Helvetica Neue', 'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;
}
.msl{
    width: 660px;
    height: 100px;
    border: none;
    resize: none;
    background-color: #f9f9f9;
    outline: none;
    font-size: 14px;
    line-height: 20px;
    padding: 10px;
    font-family: 'Helvetica Neue', 'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;
    margin: 0px;
}
.art-detail{
    float: left;
    margin-top: 40px;
    display: inline-block;
}
.art-detail .tab-block{
    color: #000;
}
.tab-select{
    margin: 10px 0 10px 5px;
}
.from-control{
    display: block;
    width: 200px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    margin-left: 5px;
}
.submit-bottom{
    border-top: 1px solid #ccc;
    height: 44px;
}
.submit-bottom .btn-left{
    float: left;
    padding-left: 10px;
}
.submit-bottom .btn-right{
    float: right;
    padding-right: 10px;
}

.submit-bottom button{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    margin-top: 5px;
    margin-bottom: 5px;
}

.submit-bottom button:hover{
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.button_small{
    display: inline-block;
    padding: 3px 6px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    background-color: #00A1F1;
    border-color: #ccc;
    margin-top: 5px;
}

.button_small:hover{
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.btnAndInput{
    display: inline-block;
}

.option-list{
    margin-left: 5px;
    margin-top: 10px;
}
.option{
    margin-top: 15px;
    border: 1px solid #AAD7FF;
    border-radius: 10px;
    display: inline-block;
}
.option:focus{
    border: 2px solid #4285F4;
}

.fileForm{
    font-family: "Helvetica Neue","Luxi Sans","DejaVu Sans",Tahoma,"Hiragino Sans GB","Microsoft Yahei","sans-serif";
    width: 100%;
    height: 100%;
}
.fileTable{
    height: 100%;
    margin: 0px auto;
}
.fileTable .button_small{
    float: right;
}
.msl-title{
    width: 660px;
    border: none;
    resize: none;
    background-color: #f9f9f9;
    outline: none;
    font-size: 14px;
    line-height: 20px;
    padding: 10px;
    font-family: 'Helvetica Neue', 'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;
    margin: 0px;
}