/*右侧用户界面*/
.user{
    font-size: 16px;
    color: #778087;
}
.user img{
    width: 48px;
    height: 48px;
}
.user-save a{
    display: inline-block;
    width: 30%;
    height: 30px;
    text-align: center;
    font-size: 14px;
}
.user-save span{
    display: block;
}
.user-save a:nth-child(2){
    border-right: 1px solid #e2e2e2;
    border-left: 1px solid #e2e2e2;
}
.user-save a span:nth-child(2){
    color: #ccc;
}

/*用户界面结束*/