/*右侧用户界面*/
.box{
    width: 270px;
    height: auto;
    margin-bottom: 20px;
}
.user{
    font-size: 14px;
    color: #778087;
}
.user img{
    width: 48px;
    height: 48px;
}
.user-save a{
    display: inline-block;
    width: 30%;
    height: 30px;
    text-align: center;
    font-size: 14px;
}
.user-save span{
    display: block;
}
.user-save a:nth-child(2){
    border-right: 1px solid #e2e2e2;
    border-left: 1px solid #e2e2e2;
}
.user-save a span:nth-child(2){
    color: #ccc;
}
.pb-article{
    font-size: 14px;
}
.pb-article a:hover{
    color: #34A853;
    text-decoration: none;
}

/*用户界面结束*/

/*今日热议*/
.top10{
    word-wrap: break-word;
    hyphens: auto;
    overflow: hidden;
    width: 270px;
    height: auto;
}

.top10 a:nth-child(1), .top10 a img{
    float: left;
    width: 24px;
    height: 24px;
    }
.top10 a:nth-child(2){
    clear: both;
    display: inline-block;
    width: 200px;
    padding-left: 10px;
    text-align: left;
    font-size: 13px;
    color: #00A1F1;
}
/*今日热议end*/

/*社区运行状态*/
.bbs-detail{
    font-size: 14px;
    width: 100%;
    height: auto;
    padding: 0 20%;
}
.bbs-detail table td:nth-child(1){
    color: #A0A0A0;
}
/*社区运行状态end*/