.wai-index{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #fff;
}
.col-md-2{
    border-right: 1px solid #CCC;
    margin: 0 auto;
}
.col-md-4{
    border-right: 1px solid #CCC;
    margin: 0 auto;
}
.col-md-3{
    border-right: 1px solid #CCC;
    margin: 0 auto;
}
.user_left_info{
    width: 15%;
    margin: 0 auto;
    padding-right: 10px;
}
.user_left_info span{
    font-size: 16px;
    display: block;
    padding: 5px;
}
.user_left_info span img{
    max-width: 50px;
    max-height: 50px;
}

.catalog-list{
    width: 30%;
    margin: 0 auto;
}

.catalog-list li{
    margin: 5px 0;
    padding: 10px 0;
    list-style: none;
    font-size: 15px;
}

li .li-num{
    padding: 0 3px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.top-list{
}
.top-list .top-title{
    display: block;
    padding: 5px;
    border-bottom: 1px solid #eee
}

.top-list li{
    list-style: none;
    padding: 5px;
    display: block;
}

.top-list a{
    display: inline-block;
}

.top-lsit a:hover{
    color: #34A853;
    background-color: yellow;
}

.top-list .top-time{
    display: inline-block;
    float: right;
    color: #ccc;
}
